<table class="table my-3">
  <tr>
    <td>
      <h5 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h5>

    </td>
    <td>
      <p [ngClass]="{'strike': !todo.active}">{{todo.desc}}</p>
    </td>
    <td>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="todo{{i}}" (click)="onCheckBoxClick(todo)" [checked]="!todo.active">
        <label class="form-check-label" for="todo{{i}}">Done</label>
      </div>

    </td>
    <td>
      <button class="btn btn-danger btn-sm" (click)="onClick(todo)">Delete</button>
    </td>
  </tr>
</table>



